/*Start Main Rules*/

:root {
    --main-color: #071313;
    --brand-font: 'Prompt', sans-serif;
    --sub-color: #dc6428;
    --heading-font: 'Acme', sans-serif
}

.btn-quiz {
    color: #fff;
    background-color: #951708;
    border-color: #951708;
    font-size: 16px;
    font-family: var(--brand-font);
}

.btn-quiz:hover {
    color: #fff
}

.header {
    position: relative;
}

h1 {
    font-family: var(--brand-font);
    font-size: 40px;
    margin: 41px auto;
    color: #951708;
}

@media (min-width: 992px) {
    .header h1::after {
        content: "";
        background: var(--sub-color);
        width: 214px;
        height: 5px;
        position: absolute;
        top: 58px;
        left: 460px;
    }
    .question-head .btn-quiz::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        border-style: solid;
        border-color: transparent transparent transparent #951708;
        height: 0;
        width: 0;
        border-width: 14px;
        top: 1px;
        left: 199px;
    }
}

body {
    padding-top: 71px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0
}

.nav>li>a,
.navbar-brand {
    padding: 15px 12px;
    font-family: var(--brand-font);
}

.navbar-inverse {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand i {
    color: var(--sub-color);
}

.asterisk {
    position: absolute;
    right: 0;
    top: 5px;
    right: 30px;
    color: #f00;
    font-size: 25px
}

.panel-default>.panel-heading {
    color: #9d9d9d;
    background: #333;
    border-color: #333;
}

.toggle-show {
    cursor: pointer;
}

.toggle-show:hover {
    color: #F00
}

.loginform .form-group {
    margin-bottom: 5px;
}

.header.header-home h1::after {
    left: 477px;
}

.notice {
    width: 50%;
    margin: 20px auto 50px auto;
    font-size: 15px;
}

.quiz-sec {
    background: var(--main-color);
    height: 150px;
    width: 80%;
    border: 1px solid var(--main-color);
    box-shadow: 8px 3px 5px 0px #DDD;
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.quiz-sec h3 {
    color: var(--sub-color);
    margin-bottom: 20px;
    font-family: 'Acme', sans-serif;
}

.login {
    width: 500px;
    margin: 45px auto;
}

.login .form-control {
    background-color: #f7f4f4
}

.login input {
    margin-bottom: 10px;
}

.question-show {
    font-family: var(--heading-font);
    font-size: 19px;
    padding-top: 5px;
    margin-left: 15px;
}