/*Start Main Rules*/

body {
    padding-top: 71px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0
}

.nav>li>a,
.navbar-brand {
    padding: 15px 12px
}

.asterisk {
    position: absolute;
    right: 0;
    top: 5px;
    right: 30px;
    color: #f00;
    font-size: 25px
}

.panel-default>.panel-heading {
    color: #9d9d9d;
    background: #333;
    border-color: #333;
}

.toggle-show {
    cursor: pointer;
}

.toggle-show:hover {
    color: #F00
}


/*End Main Rules*/


/*Start index Page*/


/*Start Login Form*/

.login {
    width: 500px;
    margin: 100px auto;
}

.login h4,
h1 {
    color: #333;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: bold;
    color: #333
}

.login .form-control {
    background-color: #f7f4f4
}

.login input {
    margin-bottom: 10px;
}

.login .btn {
    background-color: #008dde
}


/*End Index Page*/